table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #f4f4f4;
  }
  
  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
.wrapper {
  display: flex;
  width: 50vw;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}